#!/usr/bin/make -f
# -*- makefile -*-

VERSION?= $(shell < debian/changelog head -1 | egrep -o "[0-9]+\.[0-9]+\.[0-9]+")
PKGDIR = debian/hamdeck

%:
	dh $@

clean:
	dh_clean
	rm -rf $(PKGDIR)

build:
	env VERSION=$(VERSION) make

binary-arch: clean build
	dh_prep
	dh_installdirs

	mkdir -p $(PKGDIR)/usr/bin
	mkdir -p $(PKGDIR)/usr/share/hamdeck
	mkdir -p $(PKGDIR)/lib/udev/rules.d
	mkdir -p $(PKGDIR)/lib/systemd/system

	mv ./hamdeck $(PKGDIR)/usr/bin/
	cp example_conf.json $(PKGDIR)/usr/share/hamdeck/

	dh_strip
	dh_compress
	dh_fixperms
	dh_installinit
	dh_installdeb
	dh_installudev
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-arch
