Package: hamdeck
Architecture: amd64
Section: universe/hamradio
Priority: optional
Version: !THE_VERSION!
Maintainer: Florian Thienel <ftl@thecodingflow.com>
Homepage: http://github.com/ftl/hamdeck
Bugs: http://github.com/ftl/hamdeck/issues
Description: HamDeck allows you to control and automate your ham radio station
    using an Elgato Stream Deck device. You can define buttons using a JSON
    configuration file. HamDeck connects to the local pulseaudio server, to a
    Hamlib rigctld server, or to ExpertSDR through the TCI protocol.
